# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project files and build
mod_grader/.kdev4/
mod_grader/build/
mod_grader/mod_grader.kdev4
dynamic/
test_dynamic/
test_mod_grader/.kdev4/
test_mod_grader/test_mod_grader.kdev4
test_mod_grader/build/


