<?xml version="1.0" encoding="UTF-8"?>
<config>
  <!--Shell configuration-->
  <SHELL>bash</SHELL>
  <SHELL_CMD_FLAG>-c</SHELL_CMD_FLAG>
  
  <!--Interprocess memory configuration-->
  <SHMEM_NAME>grader_1_39</SHMEM_NAME>
  <SHMEM_SIZE>134217728</SHMEM_SIZE>
  
  <!--Important directories and files-->
  <BASE_DIR>/home/zbetmen/students</BASE_DIR>
  <LIB_DIR>/home/zbetmen/Documents/grader/mod_grader/build</LIB_DIR>
</config>