<?xml version="1.0" encoding="UTF-8"?>
<config>
  <SHMEM_NAME>Grader</SHMEM_NAME>
  <SHMEM_SIZE>65535</SHMEM_SIZE>
  <BASE_DIR>/home/zbetmen/students</BASE_DIR>
  <LIB_DIR>/home/zbetmen/Documents/programming/grader/mod_grader/build</LIB_DIR>
  <SHELL>bash</SHELL>
  <SHELL_CMD_FLAG>-c</SHELL_CMD_FLAG>
  
  <!--Suppoted languages-->
  <LANGUAGE>
    <NAME>c</NAME>
    <GRADER>grader_c</GRADER>
    <LIB>libgrader_c.so</LIB>
  </LANGUAGE>
  <LANGUAGE>
    <NAME>c++</NAME>
    <GRADER>grader_c++</GRADER>
    <LIB>libgrader_c++.so</LIB>
  </LANGUAGE>
  <LANGUAGE>
    <NAME>c++11</NAME>
    <GRADER>grader_c++11</GRADER>
    <LIB>libgrader_c++11.so</LIB>
  </LANGUAGE>
</config>