<?xml version="1.0" encoding="UTF-8"?>
<config>
  <SHMEM_NAME>Grader0</SHMEM_NAME>
  <SHMEM_SIZE>65535</SHMEM_SIZE>
  <BASE_DIR>/home/zbetmen/students</BASE_DIR>
  <LIB_DIR>/home/zbetmen/Documents/grader/mod_grader/build</LIB_DIR>
  <SHELL>bash</SHELL>
  <SHELL_CMD_FLAG>-c</SHELL_CMD_FLAG>
  
  <!--Suppoted languages-->
  <LANGUAGE>
    <NAME>c</NAME>
    <GRADER>grader_c</GRADER>
    <LIB>libgrader_c.so</LIB>
  </LANGUAGE>
  <LANGUAGE>
    <NAME>cpp</NAME>
    <GRADER>grader_cpp</GRADER>
    <LIB>libgrader_cpp.so</LIB>
  </LANGUAGE>
  <LANGUAGE>
    <NAME>cpp11</NAME>
    <GRADER>grader_cpp11</GRADER>
    <LIB>libgrader_cpp11.so</LIB>
  </LANGUAGE>
  
  <!-- Python is TODO grader! -->
  <LANGUAGE>
    <NAME>py</NAME>
    <GRADER>grader_py</GRADER>
    <LIB>libgrader_py.so</LIB>
  </LANGUAGE>
</config>